*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
 }
 .container{
    width: 420px;
   
    background-color: rgb(243, 151, 169);
    border: 2px solid gray;
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px gainsboro;
    align-items: center;
    justify-content: center;
 }

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    height: 100vh;
    background: url(image.png) ;
    background-size: cover;
    background-position: center;
 }
 
 
 .container h1{
    font-size: 36px;
    text-align: center;
 }
 
 
 .input-box{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 30px 0;
 }
 
 